.check-product {
    text-align: center;
    padding: 20px;
  }
  
  .check-product h1 {
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 60px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .check-product hr {
    width: 200px;
    height: 3px;
    border: none;
    background: linear-gradient(to right, #1a1a1a, #fff, #1a1a1a);
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
    opacity: 0.8;
  }
  
  .check-produts {
    display: flex;
    gap: 80px; /* Adjusted gap between the items */
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .custom-item-container {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    border-radius: 8px; /* Initial border-radius value */
    border: none;
    padding-bottom: 10px;
    padding-left: 8px;
    padding-right: 0px;
    padding-top: 0px;
  }
  
  .custom-item-container:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Adjust the border-radius value as needed */
  }
  
  .custom-item-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, yellow, orange);
    opacity: 0.5;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    z-index: -1;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    border-radius: 8px; /* Initial border-radius value */
  }
  
  .custom-item-container:hover::before {
    opacity: 0.8;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Adjust the border-radius value as needed */
  }
  
  .item img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .item-details {
    padding: 10px;
    background-color: #f5f5f5; /* Set your desired background color */
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }
  
  .custom-item-container:hover .item-details {
    opacity: 1;
  }
  
  .item-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .item-price {
    margin-top: 8px;
    font-size: 14px;
    color: #007bff;
  }
  
  .item-price span {
    text-decoration: line-through;
    margin-right: 5px;
    color: #555;
  }
  
  /* Media Queries */
  
  @media (max-width: 1280px) {
    .check-product {
      width: 90%;
      margin: auto;
    }
    .check-produts {
      gap: 40px;
    }
    .custom-item-container {
      margin: auto;
    }
    .check-banner {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media (max-width: 1024px) {
    .check-product h1 {
      font-size: 24px;
      margin-top: 40px;
    }
    
  }
  
  @media (max-width: 800px) {
    .check-product {
      width: 100%;
    }
    .custom-item-container {
      margin: 0; /* Reset margin for grid layout */
    }
    .check-product h1 {
      font-size: 18px;
    }
  }
  
  @media (max-width: 500px) {
    .check-product {
      width: 100%;
    }
    .check-produts {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .custom-item-container {
      margin: 0; /* Reset margin for grid layout */
    }
    .check-product h1 {
      font-size: 18px;
    }
  }
  
  @media (max-width: 400px) {
    .check-product {
      width: 100%;
    }
    .check-produts {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }
    .custom-item-container {
      margin-left: -20px;
      width: 160px;
      margin-top: 20px;
      padding-bottom: 20px;
    }
    .check-banner {
      max-width: 100%;
      height: auto;
    }
  }
  